<!doctype html>
{% load static%}
<head>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'User/Base.css' %}" rel="stylesheet">
     <script src="{% static 'User/js/jquery-3.2.1.min.js' %}" href="{% static 'User/js/jquery-3.2.1.min.js' %}"></script>

    <style>
    /* CSS comes here */
    #video {
        border: 1px solid black;
        width: 320px;
        height: 240px;
    }

    #photo {
        border: 1px solid black;
        width: 320px;
        height: 240px;
    }

    #canvas {
        display: none;
    }

    .camera {
        width: 340px;
        display: inline-block;
    }

    .output {
        width: 340px;
        display: inline-block;
    }

    

    .contentarea {
        font-size: 16px;
        font-family: Arial;
        text-align: center;
    }
    </style>
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       
        <a class="navbar-brand" href="#"><p></p></a>  <span> <h1 style="color:white">| </h1> </span> <b style="color:white">  &nbsp; &nbsp; Attandance Register</b>
       
       
        
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
           
              <ul class="navbar-nav mr-auto">
              
            <li>
            </li>		  
              </ul>
                
              <form class="form-inline my-2 my-lg-0">
                <li class="nav-link"> <a  href="{% url 'Home' %}">  
                  <i class="fa fa-home" style="font-size: 32px; color:white;"></i>
                </a>
                 </li> 
  
               <li class="nav-link"> <a  href="{% url 'Logout' %}">  
                <i class="fas fa-sign-out-alt" style="font-size: 32px; color:white;"></i>
              </a>
               </li> 
               
         </form>
           </div>
        </nav>
    {% if messages %}
       
           {% for message in messages %}

           <script>
            alert("Not Able To Detect Your Face")
        </script>

           {% endfor %}
           {% endif %}

           <br>
           <br>
           <br>
           <br>
    <div class="contentarea">
        <h1>
        </h1>
        <div class="camera">
            <video id="video">Video stream not available.</video>
        </div>
        <div><button id="startbutton" class="btn btn-success mt-2 mb-2">Take photo</button>
            <br>

            <form method="POST" action="{% url 'Manually' %}">
                {% csrf_token %}
            <input class=" mr-sm-2" type="text" name="reson" required placeholder="Reason">
            <button type="submit" class="btn btn-link">Add Manually</button></div>
        </form>
        <canvas id="canvas"></canvas>
        <div class="output">
            {% comment %} <img id="photo" alt="The screen capture will appear in this box."> {% endcomment %}
        </div>
    </div>

    <script>
    /* JS comes here */
    (function() {

        var width = 250; // We will scale the photo width to this
        var height = 0; // This will be computed based on the input stream

        var streaming = false;

        var video = null;
        var canvas = null;
        var photo = null;
        var startbutton = null;

        function startup() {
            video = document.getElementById('video');
            canvas = document.getElementById('canvas');
            photo = document.getElementById('photo');
            startbutton = document.getElementById('startbutton');

            navigator.mediaDevices.getUserMedia({
                    video: true,
                    audio: false
                })
                .then(function(stream) {
                    video.srcObject = stream;
                    video.play();
                })
                .catch(function(err) {
                    console.log("An error occurred: " + err);
                });

            video.addEventListener('canplay', function(ev) {
                if (!streaming) {
                    height = video.videoHeight / (video.videoWidth / width);

                    if (isNaN(height)) {
                        height = width / (4 / 3);
                    }

                    video.setAttribute('width', 200);
                    video.setAttribute('height', 200);
                    canvas.setAttribute('width', 200);
                    canvas.setAttribute('height', 200);
                    streaming = true;
                }
            }, false);

            startbutton.addEventListener('click', function(ev) {
                takepicture();
                ev.preventDefault();
            }, false);

            clearphoto();
        }


        function clearphoto() {
            var context = canvas.getContext('2d');
            context.fillStyle = "#AAA";
            context.fillRect(0, 0, canvas.width, canvas.height);

            var data = canvas.toDataURL('image/png');
            photo.setAttribute('src', data);
        }
       
        function takepicture() {
            var context = canvas.getContext('2d');
            if (width && height) {
                canvas.width = width;
                canvas.height = height;
                context.drawImage(video, 0, 0, width, height);

                var data = canvas.toDataURL('image/png');
                sendDataForRecognizing(data)

                photo.setAttribute('src', data);
            } else {
                clearphoto();
            }
        }

        window.addEventListener('load', startup, false);
    })();

 function sendDataForRecognizing(TrainFace)
        {
            console.log("Hai")
            $.ajax({
        url: '/ImageRecog/Predict/',
        type: 'POST',
        data: {
            "FaceData": TrainFace,

        },
        dataType: 'json'
    }).done(function(data) {
        console.log("data sent to server ......")
        console.log(data["confidence"])
        if(data["confidence"]<60){
            alert("Your Attandance Marked")
        }
        else{
            alert("Not Able To Detect Your Face..Still Facing this Issue?? Mark Manually...")
        }
        
    }
        );
        
        }
       

    </script>

    <script>

      var close = document.getElementsByClassName("closebtn");
      var i;
      
      for (i = 0; i < close.length; i++) {
        close[i].onclick = function(){
          var div = this.parentElement;
          div.style.opacity = "0";
          setTimeout(function(){ div.style.display = "none"; }, 600);
        }
      }
      </script>
</body>

</html>