{% extends 'Admin/Base_Admin.html' %}

{% load static %}

{% block content %}

{% if messages %}
      {% for message in messages %}
      <br>
      <div class="alert success">
       <span class="closebtn">&times;</span>  
      <li class="nav-link" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      </div>
      <br>
      {% endfor %}
{% endif %}

  <br>

  <center><span style="color:red"><h2><u>SEARCH STUDANT DETAILS</u></h2></span></center>
  <br>

<div class="container">
    <br>

    <form method="POST" action="{% url 'Edit_Studant' %}">
      {% csrf_token %}
    <div class="row">

 
       <div class="col-md-12">
        <div class="card">
          <div class="card-body">
              <center><h4 class="card-title">EDIT STUDANT DETAILS</h4></center>
              
               <hr>
               <div class="row">
                   <div class="col-md">
                   <div class="">
                   <div class="card-body">
                <label><strong>Studant ID :</strong></label>
               <input class="form-control mr-sm-2" type="text" readonly  value="{{ view.Stud_Id }}">
               <label><strong>Gender :</strong></label>
               <input class="form-control mr-sm-2" type="text" name="gen"  value="{{ view.Gender }}">
               <label><strong>Address 1 :</strong></label>
               <input class="form-control mr-sm-2" type="text" name="addr1" value="{{ view.Addr_1 }}">
               <label><strong>Address 3  :</strong></label>
               <input class="form-control mr-sm-2" type="text" name="addr3" value="{{ view.Addr_3 }}">
               <label><strong>Phone :</strong></label>
               <input class="form-control mr-sm-2" type="text" name="mob" value="{{ view.Mobile }}" maxlength="10" required pattern="[1-9]{1}[0-9]{9}" title="Please Enter Valid Number">
               <br>
               <input type="submit" value="UPDATE" class="btn btn-success form-control">
               </div>
               </div>
               
               </div>
               
               <div class="col-md">
                   <div class="">
                   <div class="card-body">
                <label><strong>Full Name :</strong></label>
               <input class="form-control mr-sm-2" type="text" name="name"  value="{{ view.Name }}" >
               <label><strong>Date Of Birth :</strong></label>
               <input class="form-control mr-sm-2" type="text"  disabled  value="{{ view.DOB }}" >
               <label><strong>Address 2 :</strong></label>
               <input class="form-control mr-sm-2" type="text" name="addr2"  value="{{ view.Addr_2 }}" >
               <label><strong>Pincode :</strong></label>
               <input class="form-control mr-sm-2" type="text" name="pin"  value="{{ view.Pincode }}" maxlength="6" required pattern="[1-9]{1}[0-9]{5}" title="Please Enter Valid Picode" >
               <label><strong>Email :</strong></label>
               <input class="form-control mr-sm-2" type="text" readonly  value="{{ view.Email }}" >
               <br>
               <a href="{% url 'Search_Studant' %}" class="btn btn-danger form-control">CANCEL</a>

           </div>
        </div>

     </div>     
     </div>
              </div>
            </div>
          </div>
  </div>
</form>
</div>

<br>

<br>


{% endblock %}