{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ABC School Attandance System</title>
<!-- Only for messages & Icons-->
<link rel="stylesheet"
       href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    
       {% block head %}

            <!-- Enter styles -->

      {% endblock %}

    <!-- Bootstrap -->
    <link href="{% static 'User/Base.css' %}" rel="stylesheet">

  </head>
  <body>
    

   <div class="jumbotron jumbotron-fluid text-center">
      <h4 class="display-5"><strong>ABC SCHOOL ATTENDANCE SYSTEM </strong></h4>
      {% url 'Home' as home_url %}
      {% url 'Login' as log_url %}
      {% if request.get_full_path == home_url %}
      <br>
      <div ><a class="btn btn-outline-danger my-2 my-sm-0" href="{% url 'Logout' %}"><i class="fa fa-sign-out"></i> Logout</a></div>
      {% elif request.get_full_path == log_url %}
      {% else %}
      <br>
      <div ><a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'Home' %}"><i class="fa fa-home"></i> Home</a></div>
      {% endif %}
   </div>

          {% block one %}

          <!-- HEADER --> 

          {% endblock %}

       <!-- START --> 

       

       {% block content %}

       <!-- BODY --> 

       {% endblock %}

        <!-- END --> 



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="{% static 'User/js/jquery-3.2.1.min.js' %}"></script>
    

    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="{% static 'User/js/popper.min.js' %}"></script>
    <script src="{% static 'User/js' %}"></script>
  </body>
</html>
